body {
	padding: 0;
  	font-family: "PT Sans", "Arial", serif;
  	background-color: #ffffff;
 }

h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}

h3 {
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	font-weight: normal;
}

h4 {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}

a {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}

p {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}

ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0; 
}

li {
	list-style: none;
}

.visually-hidden {
	display: none;
}

/*Хэдер*/


header {
	background: #f1f5f7;
}

.container {
	width: 940px;
	margin: 0 auto;
  	padding: 0px 10px;
}

.header-top {
	background: #293449;
}

.header-top-wrapper {
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 220px;
	position: absolute;
	font-size: 24px;
	font-weight: 500;
	line-height: 43px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background: #ee3643;
    font-family: "Cuprum", sans-serif;
}

.logo::after {
    position: absolute;
    content: '';
    left: 0;
    top: 42px;
    width: 220px;
    height: 4px;
    background: #b52933;
}

.logo:hover {
  	background: #ca2c37;
}

.logo:active {
  	background: #ba2732;
}

.search {
	position: relative;
	left: 222px;
	color: #ffffff;
    margin-right: 30px;
}

.search input {
	height: 32px;
	width: 230px;
	border: none;
	padding: 6px 0 5px 40px;
	background: #293449 url("../img/search.svg") no-repeat 5% 50%;
	opacity: 0.5;
	color: #293449;
    font-family: "Cuprum", sans-serif;
}

.search input:hover {
  	opacity: 1;
  	background: #212a3a url("../img/search.svg") no-repeat 5% 50%;
  	color: #212a3a;
}

.search input:focus {
  	opacity: 1;
  	background: #ffffff url("../img/search-red.svg") no-repeat 5% 50%;
}

.search label {
	margin-left: 40px;
	position: absolute;
	top: 13px;
	left: 5px;
}

.search input[type=text]:active + label {
  	color: #ffffff;
}

.search input[type=text]:focus + label {
  	display: none;
}

.personal-block {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
    align-items: flex-start;
    font-family: "Cuprum", sans-serif;
}

.personal-block a {
	color: #ffffff;
	text-decoration: none;
    width: 150px;
    font-size: 17px;
    font-weight: 400;
}


.personal-block .bookmarks {
	position: relative;
	top: 11px;
	padding: 12px 30px;
}

.personal-block .basket {
    position: relative;
    top: 11px;
    padding: 14px 40px;
}

.personal-block .bookmarks::before {
	content: '';
	position: absolute;
	left: 7px;
	top: 10px;
	width: 30px;
	height: 30px;
	background: url("../img/bookmark.svg") no-repeat 11% 35%;
	opacity: 0.3;
}

.personal-block .bookmarks:hover:before,
.personal-block .basket:hover:before {
	opacity: 1;
}

.personal-block .bookmarks:hover:active,
.personal-block .basket:hover:active {
	opacity: 0.2;
}

.personal-block .basket::before {
	content: '';
	position: absolute;
	left: 7px;
	top: 10px;
	width: 30px;
	height: 30px;
	background: url("../img/basket.svg") no-repeat 11% 35%;
	opacity: 0.3;
}

.full {
    color: #ffffff;
    background: #ee3643;
    text-decoration: none;
    padding: 14px 40px;
    line-height: 
    margin: 0;
}

.personal-block .ordering {
	color: #ffffff;
	background: #63a63e;
	text-decoration: none;
	line-height: 39px;
	padding: 14px 20px;
	margin: 0;
}

.ordering:hover {
	background-color: #5fbb2d;
}

.ordering:active {
	color: #aac39b;
	background-color: #518534;
}

.header-middle {
	position: relative;
    padding-top: 40px;
	padding-bottom: 13px;
}

.intro {
	width: 210px;
	color: #EE4F5B;
	margin: 5px 10px 0 50px;
	font-style: italic;
	font-size: 16px;
	line-height: 1.438;
    font-family: "Cuprum", sans-serif;
}

.header-middle-wrapper {
	display: flex;
	justify-content: space-between;
}

.header-contacts {
	width: 310px;
	position: relative;
	margin: 5px 0 0 50px;
    font-size: 14px;
    font-family: "Cuprum", sans-serif;
}

.header-contacts a {
    font-family: "Cuprum", sans-serif;
	padding: 12px 55px 11px 77px;
	color: #e9292a;
	font-size: 21px;
	display: inline-block;
	border: 3px solid #ffffff;
}

.header-contacts a::before {
	content: "";
	position: absolute;
	left: 15px;
	top: 7px;
	width: 30px;
	height: 30px;
	background: url("../img/phone.svg") no-repeat 40% 46%;
	opacity: 0.5;
}

.header-contacts p {
	color: #32425C;
	margin-top: 8px;
	padding-left: 10px;
	font-size: 14px;
	line-height: 1;
}

.user-block {
	font-size: 21px;
	font-weight: 400;
	line-height: 0.857;
	padding-left: 50px;
	position: relative;
	display: flex;
    justify-content: flex-start;
}

.personal-user-block {
    width: 300px;
    font-size: 21px;
    font-weight: 400;
    line-height: 0.857;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 50px;
}

.personal-data {
    width: 300px;
    font-size: 0;
}

.personal-user-block .log-in {
    color: #000000;
    margin: 0;
    font-size: 21px;
}

.personal-user-block .log-in:active {
    color: #b7bfc8;
}

.log-in {
    font-family: "Cuprum", sans-serif;
    background: #ffffff;
    padding: 14px 14px 14px 50px;
    position: relative;
}

.log-out {
    display: inline-block;
    margin: 0;
    background: #ffffff;
    padding: 14px 14px 14px 0px;
}

.log-out:hover {
    color: #32425c;
    fill: #32425c;
}

.personal-user-block .log-in::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 17px;
    width: 20px;
    height: 18px;
    background: url("../img/icon-user.svg") no-repeat;
    opacity: 0.5;
}


.user-menu a {
    color: #32425c;
    text-decoration: underline;
    text-align: center;
    padding-left: 18px;
    position: relative;
}

.user-menu a:hover {
    color: #ef5c67;
}

.user-menu a:active {
    color: #b7bfc8;
}

.user-block .login,
.user-block .registration {
	margin-top: 5px;
    color: #000000;
	text-decoration: none;
	background: #ffffff;
    font-family: "Cuprum", sans-serif;
    font-size: 21px;
}

.user-block .login:hover,
.user-block .registration:hover {
	color: #ee3643;
}

.user-block {
    display: flex;
    align-items: flex-start;
}


.user-block .login:active,
.user-block .registration:active {
	color: #c5c5c5;
}

.login {
  	margin-right: 10px;
  	padding: 12px 26px 12px 46px;
}

.login:hover {
  	color: #ee3643;
}

.login:active {
  	color: #b2b2b2;
}

.login:before {
  	content: '';
  	position: absolute;
  	left: 70px;
  	top: 14px;
  	width: 30px;
  	height: 30px;
  	background: url('../img/login.svg') no-repeat 0 3px;
  	opacity: 0.5;
}

.login:hover:before {
  	opacity: 1;
}

.registration {
	padding: 12px 25px;
}

.my-orders::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 100px;
    width: 4px;
    height: 4px;
    background: #32425c;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.header-bottom-wrapper {
	padding-bottom: 40px;
}

.menu {
  	display: flex;
  	padding: 0;
  	font-size: 0;
  	text-align: center;
    font-family: "Cuprum", sans-serif;

}

.menu li {
	flex-grow: 1;
	padding: 19px 0px;
}

.menu a {
	background: #32425c;
	border-bottom: 5px solid #293449;
    padding-left: 20px;
}

.menu a:hover {
  	background: #293449;
    border-bottom: 5px solid #293449;
}

.menu a:active {
  	background: #1d2739;
  	color: #616874;
  	border: none;
    border-bottom: 5px solid #293449;
}

.menu a {
  	display: block;
  	text-decoration: none;
  	color: #FFFFFF;
  	font-size: 17px;
  	padding: 19px 0px;
}

/*Услуги*/

.promo-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	margin-bottom: 35px;
    align-items: flex-start;
    font-family: "Cuprum", sans-serif;
}

.promo-column-1 {
	width: 620px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 20px;
}

.promo-column-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item {
	width: 277px;
	margin-bottom: 20px;
	padding-left: 23px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item .instruments {
	padding-left: 0;
}

.item h3 {
	color: #ffffff;
	margin: 0 0 15px 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;

}

.item a {
    display: inline-block;
    padding: 10px 0px;
    margin: 0;

}

.materials {
	background: #F6B22D url("../img/icon-materials.svg") no-repeat 85% 50%;
    position: relative;
    margin-right: 20px;
	
}

.instruments {
	background: #4AAFDE url("../img/icon-instruments.svg") no-repeat 85% 50%;
	
}

.technique {
	background: #CC79D1 url("../img/icon-technique.svg") no-repeat 85% 50%;
	
}

.discount {
	background: #85D179 url("../img/icon-discount.svg") no-repeat 85% 51%;
	
}

.delivery {
	background: #F6B22D url("../img/icon-delivery.svg") no-repeat 85% 52%;
	
}

.info {
    width: 135px;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3%;
}

.info:hover {
    background: rgba(0, 0, 0, 0.2);
}

.info:active {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

.materials::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: url("../img/new.png") no-repeat 0 0;
}

.sliders {
	width: 620px;
	height: 266px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 620px;
    margin-right: 19px;
}

.slider {
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
}

.slides {
    height: 266px;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
}

.perforators-slide {
    background-image: url("../img/perforators.jpg");
}

.drills-slide {
    background-image: url("../img/drills.jpg");
}

.sliders > input {
    display: none;
}

.circles label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    background-color: white;
    vertical-align: top;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.circles {
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    z-index: 2;
}

.slide-text {
    width: 242px;
    padding: 0px 1px 0px 27px;
}

.slide-text h2 {
    font-size: 36px;
    font-weight: 500;
    color: white;
    line-height: 40px;
    text-transform: uppercase;
    margin: 23px 0 0 0;
    font-family: "Cuprum", sans-serif;
}

.slide-text span {
    padding-top: 12px;
    color: white;
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
}

.slide-text .btn-catalogue {
    display: block;
    margin: 119px 1px 1px 0px;
    padding: 12px 0px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ee3643;
    border-radius: 3px;
}

.arrow-right{
    position: absolute;
    top: 97px;
    right: -4px;
    width: 65px;
    height: 65px;
    font-size: 0;
    background: url(../img/right.svg) no-repeat 50% 50%;
    cursor: pointer;
    z-index: 2;
}

.arrow-left {
    position: absolute;
    top: 100px;
    left: 2px;
    width: 65px;
    height: 65px;
    font-size: 0;
    background: url(../img/left.svg) no-repeat 50% 50%;
    cursor: pointer;
    z-index: 2;
}
#perforators-slide:checked ~ .slider > .perforators-slide,
#drills-slide:checked ~ .slider > .drills-slide {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

#perforators-slide:checked ~ .circles label[for="perforators-slide"],
#drills-slide:checked ~ .circles label[for="drills-slide"] {
    background: #ee3643;
}

.slides .btn_slider {
    margin-top: 119px;
    position: absolute;
    left: 3px;
}

/*Товары*/

.popular-products {
	margin-bottom: 21px;
}

.top {
	background: #f7f3ec;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.top h2 {
	padding-left: 30px;
    font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 32px;
	margin-bottom: 20px;
	color: #32425c;
}

.top a {
	font-size: 14px;
	line-height: 18px;
	margin-right: 20px;
	margin-top: 25px;
	margin-bottom: 26px;
	border-radius: 3px;
	background: #ee3643;
	padding: 11px 55px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
    font-family: "Cuprum", sans-serif;
}

.product-list {
	width: 940px;
	display: flex;
	justify-content: space-between;
    align-items: flex-start;
}

.product-list li {
	padding: 0;
}

.product-list li:first-child {
	margin: 0;
}

.product {
    position: relative;
    width: 220px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}

.product a {
	color: #000000;
	font-size: 18px;
}

.catalog-items {
    font-size: 0;
}

.product {
    font-size: 16px;
}

.product .flag{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.product .flag-new{
    background: url("img/new.png") no-repeat 0 0;
}

.product .product-action{
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255, 1);
    z-index: 10;
}

.product-action .buy {
    position: relative;
}

.product-action .buy::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 7px;
    width: 15px;
    height: 17px;
    background: url("../img/basket.svg") no-repeat 11% 35%;
    opacity: 0.3;
}

.product-action .buy:hover::before {
    opacity: 1;
}

.product-action .buy:active::before {
    opacity: 1;
}

.product .product-action .buy,
.product .product-action .to-bookmarks {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315; 
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;    
    border-radius: 3px;
}

.product .product-action .to-bookmarks {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.product .product-action .buy:hover {
	background: #5fbb2d;
	border: 3px solid #5fbb2d;
	border-bottom-color: #367315;
}

.product .product-action .buy:active {
	background: #518534;
	border: 3px solid #518534;
}

.product .product-action .to-bookmarks:hover {
	border-color: #32425c;
}

.product .product-action .to-bookmarks:active {
	color: #c1c6ce;
	border-color: #c1c6ce;
}

.product .product-action {
    display: none;
}

.product:hover {
	box-shadow: 0 0 10px 0 #34495e;
}

.product:hover .product-action {
    display: block;
}

.product .product-image {
    width: 218px;
    height: 168px;
}

.product .product-image img {
    max-width: 100%;
}

.product h4 {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;    
}

.product .old-price,
.product .new-price {
	display: block;
}

.product .old-price {
    min-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #999;
    text-decoration: line-through;
}

.product .new-price {
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 700; 
}

.product .new-price:after{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.triangle-right {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 0 19px 32.9px;
    border-color: transparent transparent transparent #ee3643;
}

.flag-new::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: url("../img/new.png") no-repeat 0 0;
    z-index: 20;
}



/*Производители*/

.popular-manufacturers .btn {
	padding: 10px 70px;
}

.manufacturers-list {
	display: flex;
	flex-wrap: wrap;
}

.manufacturers {
	width: 220px;
	height: 145px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 16px 16px 0;
	border: 1px solid #ccc;
}

.manufacturers-list li {
	width: 220px;
	height: 144px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 20px;
	align-items: center;
}

.manufacturers-list li:nth-child(4n) {
	margin-right: 0;
}

.manufacturers-list li:hover {
	box-shadow: 0 0 10px 0 #34495e;
}

.manufacturers-list li:active {
	opacity: 0.5;
}

.manufacturers img {
	align-items: center;
}


/*Сервис*/

.service-info {
    width: 100%;
    max-height: 525px;
    background-color: #f2f6f8;
    margin-top: 70px;
    margin-bottom: 80px;
    padding-bottom: 25px
}


.service-info h2 {
    margin: 0;
    padding-top: 65px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 30px;
    color: black;
    font-weight: normal;
}




.service-block {
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}



.service {
    margin-left: 80px;
    width: 280px;
}

.tabs li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.tabs li::after {
    content: "";
    height: 120px;
    width: 10px;
    position: absolute;
    top: -59px;
    left: 230px;
    background-image: url('../img/shadow.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.service-title {
    margin-top:0;
    margin-bottom: 30px;
    font-family: "Cuprum","Arial",sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 24px;
    color: #3d546e;
    text-transform: uppercase;
}

.service-slide {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

.tabs label {
    padding: 15px 20px;
    width: 200px;
    background-color: #3d546e;
    font-family: "Cuprum","Arial",sans-serif;
    color: #ffffff;
    -webkit-box-shadow: inset 0 0 1px #33445a;
    box-shadow: inset 0 0 1px #33445a;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    font-family: "Cuprum","Arial",sans-serif;
}

.service .btn {
    display: block;
    width: 195px;
    margin-top:30px;
}

#shipping:checked ~ .tabs label[for="shipping"],
#guarantee:checked ~ .tabs label[for="guarantee"],
#credit:checked ~ .tabs label[for="credit"]{
    background-color: #ffffff;
    color: #3d546e;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#shipping:hover ~ .tabs label[for="shipping"],
#guarantee:hover ~ .tabs label[for="guarantee"],
#credit:hover ~ .tabs label[for="credit"],
#shipping:focus ~ .tabs label[for="shipping"],
#guarantee:focus ~ .tabs label[for="guarantee"],
#credit:focus ~ .tabs label[for="credit"]{
    background-color: #293449;
    color: #ffffff;
    -webkit-box-shadow:
    inset 0 1px 0 0 #405069,
          0 1px 0 0 #293449;
    box-shadow:
    inset 0 1px 0 0 #405069,
          0 1px 0 0 #293449;
    }

.service {
    display: none;
}

.service p {
    padding-top: 0;
    width: 300px;
}


.shipping-tab {
    background-image: url("../img/delivery-img.png");
    background-position: 150px 21px;
    background-repeat: no-repeat;
    min-height: 260px;
    width: 651px;
}

.guarantee-tab {
    background-image: url("../img/guarantee-img.png");
    background-position: 162px 21px;
    background-repeat: no-repeat;
    height: 261px;
    width: 651px;
}

.credit-tab {
    background-image: url("../img/credit-img.png");
    background-position: 120px 21px;
    background-repeat: no-repeat;
    height: 261px;
    width: 651px;
}

.credit-btn {
    background: #ee3643;
    padding: 11px 20px 11px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Cuprum", sans-serif; 
    border-radius: 3px;
}

#shipping:checked ~ .shipping-tab, #shipping:focus ~ .shipping-tab,
#guarantee:checked ~ .guarantee-tab, #shipping:focus ~ .guarantee-tab,
#credit:checked ~ .credit-tab, #shipping:focus ~ .credit-tab {
    display: block;
}

.service-info-title {
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #3d546e;
    text-transform: uppercase;
}


/*О Компании*/

.about-company {
	font-family: "PT Sans", serif;
	display: flex;
	justify-content: space-between;
	padding-bottom: 110px;
}

.about-company h2 {
    margin: 0 0 30px 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 0.8;
}

.company-info p {
    margin: 15px 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 13px;
    width: 520px;
}

.delivery-list {
    list-style: none;
    position: relative;
    margin: 15px 0;
    font-family: "Cuprum", "Arial", sans-serif;
}

.delivery-list li {
	padding-left: 35px;
}

.delivery-list li:nth-child(2) {
	padding-top: 25px;
}

.delivery-list li:nth-child(3) {
	padding-top: 20px;
}

.delivery-list li:before {
    content: '';
    width: 25px;
    height: 2px;
    background: #FB565A;
    position: absolute;
    left: 0;
    top: 10px;
}

.delivery-list li:nth-child(2):before {
  	top: 50px;
}

.delivery-list li:nth-child(3):before {
    top: 90px;
}

.delivery-list ul {
    padding-bottom: 30px;
}

.delivery-list a {
    color: #000000;
    font-size: 18px;
    line-height: 2;
    text-decoration: none;
    font-family: "Cuprum", "Arial", sans-serif;
}

.company-info a {
    background: #ee3643;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 40px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
}


.about-company button {
    margin: 10px 0 0;
    background: #ee3643;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    border-radius: 5px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 30px;
} 

.delivery-list {
	margin-bottom: 20px;
}

.contacts {
    width: 300px;
    font-family: "Cuprum", "Arial", sans-serif;
}

.contacts p {
	margin-bottom: 36px;
}

.contacts .btn {
	margin-top: 30px;
}

/*Каталог*/

.breadcrumbs {
    padding: 0;
    margin: 20px 20px 20px 30px;
    position: relative;
    display: flex;
}

.breadcrumbs li {
    list-style: none;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
    position: relative;
}

.breadcrumbs li:first-child {
    padding-left: 0;
    margin-left: 0;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}


.breadcrumbs li,
.breadcrumbs a {
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 4px;
    right: -20px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #cdd1d8;
    border-right: 1px solid #cdd1d8;
    transform: rotate(45deg);
}

.breadcrumbs li:last-child::after {
    border: none;
}

.assortment-nav,
.sorting {
	display: flex;
}

.list-title {
	width: 940px;
	background: #f2f6f8;
    padding-top: 32px;
    padding-bottom: 34px;
    padding-left: 30px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 33px;
    margin-bottom: 15px;
    color: #32425c;
    box-sizing: border-box;
    font-family: "Cuprum", "Arial", sans-serif;
}

.filters {
    width: 220px;
    cursor: pointer;
}

.filters-title {
    padding: 10px 150px 15px 19px;
    margin: 0;
    font-weight: 500;
}

.filters fieldset {
	border: none;
    padding: 0;
}

.filters-title {
	background: #f7f3ec;
	color: #000000;
	font-size: 13px;
	line-height: 18px;
    text-transform: uppercase;
    font-family: "PT Sans", serif;
}

legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px
}

.range {
    padding: 0px 20px;
}

.range-controls {
    width: 220px;
    position: relative;
    background: #f7f3ec;
    padding-bottom: 35px;
    padding-top: 35px;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: #ffffff;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #00ca74;
}

.range-toggle {
    position: absolute;
    top: 25px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 10px;
}

.range-toggle-max {
    left: 75%;
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls input {
    background: #f7f3ec;
    border: none;
    border-radius: 5px;
    width: 101px;
    text-align: center;
    padding: 12px 0px;
    margin-top: 9px;
}

.price-controls {
    margin-bottom: 20px;
}

.form-btn {
	background: #ffffff;
	border: 1px solid #e5e5e5;
    padding: 10px 35px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "PT Sans", serif;
    margin-top: 60px;
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    line-height: 22px;
    font-size: 14px;
    padding-left: 40px;
    display: inline-block;
    padding-bottom: 15px;
}
 
input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background: url(../img/checkbox-off.svg) no-repeat;
    opacity: 0.5;
    margin-right: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="checkbox"]:hover + label:before {
    opacity: 1;
}

input[type="checkbox"]:checked + label:before {
    background: url(../img/checkbox-on.svg) no-repeat;
    opacity: 1;
}

input[type="checkbox"]:disabled + label:before {
    opacity: 0.5;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    line-height: 22px;
    font-size: 14px;
    padding-left: 40px;
    display: inline-block;
    padding-bottom: 15px;
}
 
input[type="radio"] + label:before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background: url(../img/radio-off.svg) no-repeat;
    opacity: 0.5;
    margin-right: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="radio"]:hover + label:before {
    opacity: 1;
}

input[type="radio"]:checked + label:before {
    background: url(../img/radio-on.svg) no-repeat;
    opacity: 1;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
    width: 940px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.assortment {
	width: 700px;
}

.assortment-nav {
	background: #f7f3ec;
	display: flex;
	justify-content: space-between;
    margin-bottom: 20px;
}

.assortment-nav h4 {
	font-size: 13px;
	line-height: 18px;
	margin-left: 20px;
    font-family: "PT Sans", serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 110px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.assortment-nav a {
	font-size: 13px;
	color: #c7c7c7;
	border-bottom: 1px dotted #ee3643;
}

.assortment-nav a:hover {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.assortment-nav a:active {
	color: #ee3643;
	border-bottom: 1px solid #ee3643;
}

.sorting-nav {
  	display: flex;
}

.sorting li {
	padding-top: 10px;
    margin-right: 70px;
}

.sorting a {
    text-transform: uppercase;
    font-family: "PT Sans", serif;
    font-size: 13px;
}

.sorting-nav {
	margin-right: 10px;
    padding-top: 10px;
}

li .up {
  	display: inline-block;
  	width: 0;
  	height: 0;
  	border-left: 6px solid transparent;
  	border-right: 6px solid transparent;
  	border-bottom: 11px solid #c6c2bd;
  	margin-right: 12px;
}

li .up:hover {
  	border-bottom: 11px solid #000000;
}

li .up:active {
  	border-bottom: 11px solid #ee3643;
}

li .down {
  	display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.4px 6px 0 6px;
    border-color: #c6c2bd transparent transparent transparent;
}


li .down:hover {
  	border-color: #000000 transparent transparent transparent;
}

li .down:active {
  	border-color: #ee3643 transparent transparent transparent;
}

.filters .price-select,
.filters .manufacturers-select {
	border-bottom: 1px solid #c1c1c1;
}

.catalog {
  	padding: 0;
  	margin-bottom: 20px;
}

.catalog-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-page {
	display: flex;
}

.btn-page li {
	margin-right: 10px;
}

.catalog-nav {
    padding-bottom: 60px;
}

.catalog-nav a {
	min-width: 20px;
    height: 40px;
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    text-transform: uppercase;
}


.catalog-nav a:hover {
	border: 1px solid #bdc6ca;
}

.catalog-nav a:active {
	border: 1px solid #ee3744;
}

.catalog-nav .current {
	color: #ffffff;
	background: #ee3744;
}

.product {
	width: 220px;
  	margin-bottom: 20px;
    box-sizing: border-box;
}

.drills-info {
	background: #f2f6f8;
    font-family: "Cuprum", "Arial", sans-serif;

}

.about-drills {
	width: 940px;
	padding-top: 40px;
	padding-bottom: 50px;
	margin: 0 auto;
}

.about-drills h2 {
	color: #000000;
}



/*Футер*/

footer {
	background: #32425c;
}

.footer-top {
  	background: #32425C;
  	font-family: "Cuprum", "Arial", sans-serif;
  	font-size: 18px;
  	line-height: 1.333;
  	padding-bottom: 50px;
  	display: flex;
  	padding: 0;
  	margin-bottom: 30px;
}

.footer-contacts {
  	color: #FFFFFF;
  	width: 300px;
  	position: relative;
}

.footer-logo {
  	width: 220px;
	position: absolute;
	font-size: 30px;
	font-weight: 700;
	line-height: 62px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background: #ee3643;
}

.footer-logo:after {
  	position: absolute;
    content: '';
    left: 0;
    top: 61px;
    width: 220px;
    height: 4px;
    background: #b52933;
}

.footer-logo:hover {
  	background: #ca2c37;
}

.footer-logo:active {
  	background: #ba2732;
 }

.footer-menu {
  	padding-left: 370px;
}

.footer-top-menu {
  	display: flex;
  	padding: 0;
  	text-align: center;
    margin-top: 10px;
}

.footer-top-menu li {
  	flex-grow: 1;
	padding: 19px 0px;
}

.footer-top-menu a {
  	text-decoration: none;
  	color: #f1f5f7;
  	margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", "Arial", sans-serif;
}

.footer-top-menu a:hover {
  	text-decoration: underline;
}

.footer-top-menu a:active {
  	color: #6a778a;
  	text-decoration: none;
}

.footer-middle {
  	background: #32425C;
  	font-family: "Cuprum", "Arial", sans-serif;
  	font-size: 18px;
  	line-height: 1.333;
  	padding-bottom: 30px;
}

.shop-info {	
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact p,
.contact a {
	color: #ffffff;
	padding-bottom: 0;
	margin-bottom: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", "Arial", sans-serif;
}

.shop-menu {
  	display: flex;
  	align-items: center;
  	position: relative;
  	margin: 0;
}

.shop-menu li {
  	list-style: none;
	padding-left: 35px;
}


.shop-menu a {
  	color: #FFD180;
  	text-decoration: none;
  	padding-top: 10px;
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", "Arial", sans-serif;
}

.shop-menu a:hover {
  	text-decoration: underline;
}

.shop-menu a:active {
  	color: #6f6d66;
  	text-decoration: none;
}

.footer-bottom {
	background: #293449;
	color: #ffffff;
	font-family: 'Cuprum';
	font-size: 16px;
	line-height: 1.125;
}

.footer-bottom .container {
	display: flex;
    justify-content: space-around;
	padding-top: 35px;
	padding-bottom: 31px;
}

.copyright {
	width: 350px;
	margin: 0 30px 0 0;
	color: #ffffff;
}

.footer-social ul {
	width: 200px;
	margin-right: 60px;
	display: flex;
}

.social-button {
	display: inline-block;
    vertical-align: top;
    width: 43px;
    height: 43px;
    line-height: 43px;
    border-radius: 50%;
    background: #212A3A;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    margin-right: 5px;
}

.vk {
	background: #212A3A url("../img/vk.svg") no-repeat 50% 50%;
}

.fb {
	background: #212A3A url("../img/fb.svg") no-repeat 50% 50%;
}

.insta {
	background: #212A3A url("../img/insta.svg") no-repeat 50% 50%;
}

.vk:hover {
	background: #ee3643 url("../img/vk.svg") no-repeat 50% 50%;
}

.fb:hover {
	background: #ee3643 url("../img/fb.svg") no-repeat 50% 50%;
}

.insta:hover {
	background: #ee3643 url("../img/insta.svg") no-repeat 50% 50%;
}

.vk:active {
	background: #ee3643 url("../img/vk.svg") no-repeat 50% 50%;
}

.fb:active {
	background: #ee3643 url("../img/fb.svg") no-repeat 50% 50%;
}

.insta:active {
	background: #ee3643 url("../img/insta.svg") no-repeat 50% 50%;
}


.feedback {
	width: 140px;
	margin: 0;
}

.feedback a {
	color: #FFD180;
	text-decoration: none;
}

.feedback a:hover {
	text-decoration: underline;
}

.feedback a:active {
	color: #ee3643;
	text-decoration: none;
}

.developed {
	width: 140px;
	margin: 0;
	padding-left: 50px;
}

.developed a {
	color: #FFD180;
	text-decoration: none;
}

.developed a:hover {
	text-decoration: underline;
}

.developed a:active {
	color: #ee3643;
	text-decoration: none;
}

.added-to-cart {
    width: 620px;
    border-top: 7px solid #ee3643;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    background: #ffffff;
}

.added-to-cart p {
    font-size: 30px;
    line-height: 30px;
    margin: 75px 125px 68px 179px;
    position: relative;
}

.added-to-cart p::before {
    content: "";
    width: 66px;
    height: 66px;
    background: url("../img/form-1.svg") no-repeat;
    position: absolute;
    top: 48px;
    left: 81px;
}

.added-to-cart button {
    position: absolute;
    top: 9px;
    right: 9px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.modul-btn {
    background: #f1f1f1;
    padding: 37px 80px;
    display: flex;
}

.to-order {
    color: #ffffff;
    background: #ee3643;
    padding: 14px 60px;
    border: none;
    border-radius: 5px;
}

.continue-shopping {
    color: #000000;
    background: #ffffff;
    padding: 14px 46px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}

.write-us-form {
    width: 620px;
    font-size: 18px;
    line-height: 20px;
    border-top: 7px solid #ee3643;
    box-shadow: 5px 10px 10px 10px #787f8c;
    padding-top: 55px;
    margin: 0 auto;
    box-shadow: 0 0 10px #cccccc;
}

.write-us-form input {
    position: relative;
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
    width: 250px; 
    margin-top: 13px;
}

.form-answer {
    display: flex;
    justify-content: space-around;
}

.form-answer-text {
    margin-top: 22px;
}

.form-answer-text textarea {
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
    width: 80%;
}

.write-us-btn {
    background: #f1f1f1;
    padding: 37px 80px;
    margin-top: 37px;
}

.write-us-btn .btn {
    color: #ffffff;
    background: #ee3643;
    border: none;
    border-radius: 5px;
    padding: 14px 199px;
}