body {
	font-size: 14px;
	font-family: "PT Sans", "Arial", serif;
	color: black;
	font-weight: normal;
	line-height: 18px
}

h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}